.navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
}

.nav-item .nav-link {
    padding-top: auto;
    padding-bottom: auto;
}

.styles-bigger-icon {
    font-size: 2em;
}

.clipboard-button:hover {
    background-color: grey;
}

.gabe-is {
    font-family: 'monoco', 'Courier New', Courier, monospace;
    color: white;
}

.mono-heading {
    font-family: 'monoco', 'Courier New', Courier, monospace;
    font-weight: bold;
}

.jumbotron-size {
    height: 10em;
}

.jumbotron-text {
    margin-top: auto;
    margin-bottom: auto;
}